:root {
    /* CONTAINER */
    --app-container-padding: 1.25rem;

    scroll-behavior: smooth;

    input[type="date"]::-webkit-calendar-picker-indicator {
        bottom: 0;
        background: transparent;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
}

@theme {
    /* FONT SIZE */
    --text-3xs: 0.5rem;
    --text-2xs: 0.625rem;

    /* FONT WEIGHT */
    --font-weight-extrablack: 950;
    --font-weight-heavy: 1000;

    /* FONT FAMILY */
    --font-peyda: "Peyda", sans-serif;
    --font-morabba: "Morabba", sans-serif;
    --font-yekanbakh: "YekanBakh", sans-serif;
    --font-dana: "Dana", sans-serif;
    --font-iran-yekan-x: "IranYekanX", sans-serif;

    /* BREAKPOINTS */
    --breakpoint-2xs: 400px;
    --breakpoint-xs: 480px;
    --breakpoint-3xl: 1700px;

    /* FONT FEATURE SETTING */
    --font-feature-ss01: "ss01";
    --font-feature-ss02: "ss02";
    --font-feature-ss03: "ss03";
    --font-feature-ss04: "ss04";
    --font-feature-ss05: "ss05";
    --font-feature-ss06: "ss06";
    --font-feature-ss07: "ss07";
    --font-feature-ss08: "ss08";
    --font-feature-ss09: "ss09";
    --font-feature-ss10: "ss10";

    /* SHADOWS */
    --shadow-soft: 0 8px 24px rgba(40, 70, 110, 0.06);
    --shadow-floating: 0 12px 32px rgba(40, 70, 110, 0.08);

    /* SEMANTIC COLORS */
    --color-bg-soft: #F4F7FB;
    --color-surface: #FFFFFF;
    
    --color-primary-action: #1677F2;
    --color-primary-hover: #0F6DE5;
    --color-primary-soft: #EAF3FF;

    --color-text-primary: #161A22;
    --color-text-secondary: #737B87;
    --color-text-muted: #A0A7B2;

    --color-border-subtle: #E8ECF2;

    /* BACKGROUND IMAGES */
    /* --bg-image-pattern-1: url("/img/pattern/pattern-1.png"); */

    /* ANIMATIONS */
    /* --animate-marquee: marquee 3s linear infinite; */
}
