/* CONTAINER */

@utility container {
    @apply mx-auto px-[var(--app-container-padding)] w-full max-sm:max-w-[var(--breakpoint-xs)] max-md:max-w-[var(--breakpoint-sm)] max-lg:max-w-[var(--breakpoint-md)] max-xl:max-w-[var(--breakpoint-lg)] max-w-[var(--breakpoint-xl)];
}

/* BACKGROUND IMAGE */

@utility bg-image-* {
    background-image: --value(--bg-image-*);
}

/* BACKGROUND IMAGE SIZE */

@utility bg-size-* {
    background-size: calc(--value(integer) * var(--spacing)) px;
}

/* TEXT GRADIENT */

@utility text-gradient {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* SCROLLBAR */

@utility hide-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

/* FLEX BOX HELPERS */

@utility flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@utility flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
